{% extends 'layout.html' %}

{% block title %}
    Main Menu
{% endblock %}

{% block content_title %}
    Welcome to Book Forum
{% endblock %}

{% block content %}
        <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">Bestsellers</a><br>
        <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">New Releases</a><br>
        <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">What Should I Read Next?</a><br>
        <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">Authors</a>
{% endblock %}