{% extends 'layout.html' %}

{% block title %}
    Main Menu
{% endblock %}

{% block content_title %}
    Welcome to Book Forum
{% endblock %}

{% block content %}
        <a href="{{ url_for('topics.topic_page', topic='bestsellers') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">Bestsellers</a>
        <a href="{{ url_for('topics.topic_page', topic='new_releases') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">New Releases</a>
        <a href="{{ url_for('topics.topic_page', topic='what_to_read') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">What Should I Read Next?</a>
        <a href="{{ url_for('topics.topic_page', topic='authors') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">Authors</a>
{% endblock %}