<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %} | Book forum
        </title>
            <!-- bootstrap get started css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="col-md-6 offset-md-3">
            <h1>
                {% block content_title %}
                {% endblock %}
            </h1>
    
                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>