{% extends 'layout.html' %}

{% block title %}
    Delete message
{% endblock %}

{% block content_title %}
    Delete message
{% endblock %}

{% block content %}
    <div class='row'>
        Are you sure you want to delete this message? This action can not be undone.
    </div>
    <br>
    <div class='row'>
        <form action="{{ url_for('topics.delete_msg', topic_slug=topic_slug, thread_slug=thread_slug, msg_slug=msg_slug, page=page) }}" method='POST'>
            <button type='submit' class='btn btn-danger'>Yes, delete message.</button>
            <a href="{{ url_for('topics.show_thread', topic_slug=topic_slug, thread_slug=thread_slug, page=page) }}" class='btn btn-info'>No, go back.</a>
        </form>
    </div>
{% endblock %}