{% extends 'layout.html' %}

{% block title %}
    New discussion
{% endblock %}

{% block content_title %}
    Create new discussion
{% endblock %}

{% block content %}
    <form action="{{ url_for('topics.add_thread', topic_slug=topic_slug) }}" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="control-label") }}
            {{ form.name(class="form-control") }}
        </div>

        <span class="error">
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="alert alert-primary">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </span>

        <button type="submit" class="btn btn-info">Create discussion</button>
    </form>
{% endblock %}