{% extends 'layout.html' %}

{% block title %}
    {{ thread.name }}
{% endblock %}

{% block content_title %}
    {{ thread.name }}
{% endblock %}

{% block content %}

    {% for msg in thread.messages %}
      <div class="list-group-item d-flex flex-column">
          <div>{{ msg.created_by }} </div>
          <p class="lead"> {{ msg.body }}</p>
  </div>

    {% endfor %}

    <br><a href="{{ url_for('topics.add_message', topic=topic, thread_slug=thread.slug) }}" class="btn btn-info">Add new message</a>
{% endblock %}
