{% extends 'layout.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Topics</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('topics.topic_page', topic_slug=topic.slug) }}">{{topic.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{thread.name}}</li>
{% endblock %}

{% block title %}
    {{ thread.name }}
{% endblock %}

{% block content_title %}
    {{ thread.name }}
{% endblock %}

{% block content %}

    {% for msg in thread.messages %}
      <div class="list-group-item d-flex flex-column">
          <div>{{ msg.created_by }} </div>
          <p class="lead"> {{ msg.body }}</p>
  </div>

    {% endfor %}

    <br><a href="{{ url_for('topics.add_message', topic_slug=topic.slug, thread_slug=thread.slug) }}" class="btn btn-info">Add new message</a>
{% endblock %}
