{% extends 'layout.html' %}

{% block title %}
    {{ topic.name }}
{% endblock %}

{% block content_title %}
    {{ topic.description }}
{% endblock %}

{% block content %}

    {% for thread in topic.threads %}
        <div class="list-group">
            <a href="{{ url_for('topics.show_thread', topic_slug=topic.slug, thread_slug=thread.slug) }}" class="list-group-item list-group-item-action list-group-item-info">{{ thread.name }}</a>
        </div>
    {% endfor %}


<br><a href="{{ url_for('topics.add_thread', topic_slug=topic.slug) }}" class="btn btn-info">Add new discussion</a>

{% endblock %}