{% extends 'layout.html' %}

{% block breadcrumb %}
    <li class='breadcrumb-item'><a href='/'>Topics</a></li>
    <li class='breadcrumb-item active' aria-current='page'>{{topic.name}}</li>
{% endblock %}

{% block title %}
    {{ topic.name }}
{% endblock %}

{% block content_title %}
    {{ topic.description }}
{% endblock %}

{% block content %}
    <div class='row'>
        <br><a href="{{ url_for('topics.add_thread', topic_slug=topic.slug) }}" class='btn btn-info btn-sm'>New discussion</a>
    </div>

    <div class='row bg-info text-white p-3 my-3'>
        <div class='col-10 col-lg-5'>Thread name</div>
        <div class='d-none d-lg-block col-2'>Author</div>
        <div class='d-none d-lg-block col-2'>Posts</div>
        <div class='d-none d-lg-block col-2'>Latest post</div>
        <div class='col-2 col-lg-1'></div>
    </div>


    {% for thread in topic.threads %}
        {% if (not thread.secret_users) or (current_user in thread.secret_users) %}
            <div class='row bg-light text-info p-3 border'>
                <div class='col-10 col-lg-5'>
                    <a href="{{ url_for('topics.show_thread', topic_slug=topic.slug, thread_slug=thread.slug) }}" style='max-width:100%; word-wrap:break-word;'>{{ thread.name }}</a>
                </div>
                <div class='d-none d-lg-block col-2'>{{ thread.creator.username }}</div>
                <div class='d-none d-lg-block col-2'>{{ thread.messages | length }}</div>
                <div class='d-none d-lg-block col-2'>
                    {% set msg_list = thread.messages | sort(attribute='modified', reverse=True) %}
                    {% if msg_list %}
                        {{ msg_list[0].modified.strftime('%b %-d, %Y at %H:%M %p') }}
                        <span style='color:black;'>{{ msg_list[0].creator.username }}</span>
                    {% else %}
                        -
                    {% endif %}
                </div>
                {% if current_user.id == thread.creator_id %}
                    <div class='col-2 col-lg-1 px-1'>
                        <a href="{{ url_for('topics.delete_thread', topic_slug=topic.slug, thread_slug=thread.slug) }}" class='btn btn-danger btn-sm'>delete</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}